doctype html
html.no-js(lang='zh-CN')
  head !{helmet}
    meta(charset='utf-8')
    <base href="/">
    meta(http-equiv='x-ua-compatible', content='ie=edge')
    link(rel="icon name", href="")
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    each href in styles
      link(href=`\/${href}`)
    style#jss-server-side.
      !{css}

    body
      #root !{html}
      script.
        window._ASYNC_FETCH = !{_async_fetch}; //是否为刷新页面加载
        window.__PRELOADED_STATE__ = !{preloadedState}
      each src in scripts 
        script(src=`\/${src}`)
      script.
        window.main();

